.main-section {
  background-color: #f4f4f4;
  width: 100%;
  font-size: 16px;
}

.main-section_container {
  position: relative;
}

.section-intro__container {
  padding-block: 3.5rem 0;

  h2 {
    font-size: 1.5rem;
  }
}

.subtitle {
  max-width: 470px;
  margin: auto;
}

@media (min-width: 48rem) {
  .main-section {
    font-size: 14px;
  }

  .section-intro__container {
    h2 {
      font-size: 2.1rem;
      margin-block: 0.7rem;
    }
  }

  .subtitle {
    font-size: 1rem;
    line-height: 2;
  }
}
