.hero_image {
  margin-inline: 0 calc((100% - 100dvw) / 2);
  overflow: clip;

  img {
    width: 130%;
  }
}

.hero_text {
  margin-bottom: 150px;
}

.hero_heading {
  font-size: 2.3rem;
  margin-bottom: 0;
}

.hero_description {
  margin-block: 0.5rem 0;
  font-weight: 400;
}

.hero_btn {
  margin-top: 1.4rem;
}

@media (min-width: 48rem) {
  .hero_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: clamp(400px, 48vw, 530px);

    div {
      width: 50%;
    }
  }

  .hero_text {
    text-align: left;
    max-width: 380px;
    margin-bottom: 0;
  }

  .hero_heading {
    font-size: 2.7rem;
    margin-top: 4rem;
  }

  .hero_image {
    margin-inline: 0 calc((100% - 100vw + 15px) / 2);

    img {
      width: 120%;
    }
  }
}
